<ion-content [fullscreen]="true">
  <div style="padding:56px 16px;display: flex; flex-direction: column;align-items: center;gap: 24px;background-color: #AB95F9;color: #fff;text-align: center;">
    <ion-text>
      <h1 style="text-shadow: 2px 2px #896AF9;">Discover the magic of our surprise box</h1>
    </ion-text>
    <ion-text>
      Unleash your child's curiosity with our educational subscription box filled with fun and
      learning.
    </ion-text>
    <ion-button color="light"  style="box-shadow: 4px 4px 0px -1px #896AF9;">Subscribe Now</ion-button>
    <ion-img src="assets/home.png" style="margin-top: 56px;max-width: 90%;"/>
  </div>
  <div style="min-height: 850px; background-image: url('./assets/home-2.svg');background-repeat: no-repeat;
    background-size: cover;background-color: #FFF9E6;">

  </div>

</ion-content>